//Font-family
$primary-font: "Nunito Sans";

//Colors
$primary-color: #79E2D6;
$secondary-color: #A3EEE9;


//Text Colors
$color-dark: #05111A;
$color-gray: #777474;
$color-light-gray: #F8F9FC;
$color-light: #EFEFEF;
