//Font-family
$primary-font: 'Orelega One', cursive;

//Colors
$primary-color: #fdbc22;
$color-white: #ffffff;
$color-base: #fafafa;


//Text Colors
$color-dark: #6d6d6d;
$color-gray: #777474;
$color-light-gray: #F8F9FC;
$color-light: #EFEFEF;
