// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
body{
  font-family: $primary-font;
}

.content-centered{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
