// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

//Login
.btn-base{
  color: #FFFFFF;
  background-color: $primary-color;
  border-color: $secondary-color;
  width: 100%;
}

