.player{
  margin: 30px auto auto auto;
  &__img{
       border: 2px solid #fdbc22;
   }
  &__move{
    border: 5px solid $color-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px ;
    height: 200px;
    img{
      width: 60%;
      height: auto;
    }
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1024px) {

}

